@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/
@layer base{
  :root {
    --color-primary: 247 147 34;
    --color-text: 33 33 33;
    --color-success: 0 200 81;
    --color-info: 51 181 229;
    --color-warn: 255 187 51;
    --color-error: 254 78 78;
  }

  :root[class~="dark"] {
    --color-primary: 247 147 34;
    --color-text: 33 33 33;
    --color-success: 0 200 81;
    --color-info: 51 181 229;
    --color-warn: 255 187 51;
    --color-error: 254 78 78;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} 

.wysiwyg-comment-editor {
  /* border: 1px solid #ccc; */
  padding: 8px;
  font-size: 15px;
  line-height: 1.5;
  min-height: 15px;
  resize: vertical; /* Permet de redimensionner verticalement comme un textarea */
  width: 100%;
  border-radius: 8px;
  box-sizing: border-box;
}

/* .rhap_container {
  background-color: #44bbbd;
  background: #f7f7f9;
}

.rhap_progress-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rhap_time {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.04em;
  color: #757575;
}

.rhap_progress-container {
  display: flex;
  align-items: center;
  height: 20px;
  flex: 1 0 auto;
  align-self: center;
  margin: 0 calc(10px + 1%);
  cursor: pointer;
}

.rhap_progress-bar {
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  width: 100%;
  height: 2px;
  background-color: #dddddd;
  border-radius: 2px;
}

.rhap_progress-bar-show-download {
  background-color: rgba(221, 221, 221, 0.5);
}

.rhap_progress-indicator {
  box-sizing: border-box;
  position: absolute;
  z-index: 3;
  width: 10px;
  height: 10px;
  margin-left: -10px;
  top: -4px;
  background: #44bbbd;
  border-radius: 50px;
}


.rhap_additional-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button5 {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 10px;
  line-height: 11px;
  letter-spacing: 0.04em;
  color: #757575;
  margin-right: 10px;
  transition: all 0.3s ease 0s;
}

.button5:last-child {
  margin-right: 0;
}

.button5--active {
  font-size: 12px;
  line-height: 14px;
  color: #e34f3f;
}

.rhap_main-controls {
  padding-top: 4px;
  height: 25px;
}

.rhap_main-controls-button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
} */



/* .rhap_container {
  background: #f7f7f9;
}

.rhap_controls-section {
  margin-bottom: 15px;
}

.rhap_progress-section {
  height: 20px;
  padding-bottom: 20px;
}

.rhap_main-controls-button {
  width: 80px !important;
  height: 80px !important;
}

.rhap_main-controls-button {
  width: 56px;
  height: 56px;
  display: block;
}

.rhap_main-controls-button svg {
  color: #ff5555;
  width: 100%;
  height: 100%;
}
.rhap_progress-filled,
.rhap_progress-indicator {
  box-sizing: border-box;
  position: absolute;
  z-index: 3;
  width: 10px;
  height: 10px;
  margin-left: -10px;
  top: -4px;
  background: #44bbbd;
  border-radius: 50px;
}

.rhap_button-clear.rhap_volume-button {
  color: #ff5555 !important;
}

.rhap_volume-bar, .rhap_volume-indicator {
  background-color: red;
} */
